<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Not Found</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <section id="seccion_error">
        <div id="campo_eror">
            <img id="error_404" src="https://rygagro.com.ar/assets/img/not-found.gif" alt="">
        </div>
        <button id="boton"><a href="/">Volver</a></button>
    </section>
</body>
</html>