{% extends './layout.html' %}

{% block title %}Login{% endblock %}

{% block body %}



<section class="principal">
    {% with messages=get_flashed_messages() %}
    {% if messages %}
    {% for msg in messages %}
    <span style="color: red;">{{msg}}</span>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <form action="/login" method="post">
        <h1>Login</h1>

        <div>
            {% for error in form.email.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
            <label for="">Email</label>
            {{form.email(placeholder='Email')}}
        </div>

        <div>
            {% for error in form.password.errors %}
            <span style="color: red;">{{error}}</span>
            {% endfor %}
            <label for="">Password</label>
            {{form.password(placeholder='Password')}}
        </div>



        {{form.hidden_tag()}}

        <button type="submit">Iniciar Sesión</button>
    </form>
</section>

{% endblock %}