* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e0e0e0;
}

#cabecera {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 10px 60px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
#cabecera img {
  width: 6%;
}
#cabecera .botones {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#cabecera .botones button {
  border-radius: 5px;
  padding: 8px 16px;
  background-color: red;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#cabecera .botones #registrar {
  background-color: green;
}
#cabecera a {
  color: white;
  text-decoration: none;
}
#cabecera i {
  font-size: 30px;
  color: #e0e0e0;
}

#principal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
}
#principal #hilera {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}
#principal #hilera #cabecera-hilos {
  border: 1px solid;
  width: 100vh;
  height: 50px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#principal #hilera #cabecera-hilos span {
  font-size: 25px;
}
#principal #hilera #cabecera-hilos i {
  font-size: 20px;
}
#principal #hilera .hilo {
  border: 1px solid;
  width: 100vh;
  height: 50px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
#principal #sinHilos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35vh;
  gap: 10px;
}
#principal #sinHilos h1 {
  font-size: 40px;
}
#principal #sinHilos button {
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #123456;
}
#principal #sinHilos button a {
  text-decoration: none;
  color: white;
}
#principal #perfil {
  margin-top: 50px;
  width: 120vh;
  height: 60vh;
  background-color: white;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px 100px;
  gap: 30px;
}
#principal #perfil #perfil-img {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  border: 3px solid #123456;
}
#principal #perfil #perfil-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#principal #perfil #info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
#principal #perfil #info h3 {
  font-size: 20px;
}
#principal #perfil #botones {
  display: flex;
  gap: 10px;
}
#principal #perfil #botones button {
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
#principal #perfil #botones button a {
  text-decoration: none;
  color: white;
}
#principal #perfil #botones #edit {
  background-color: #123456;
}
#principal #perfil #botones #logout {
  background-color: #123456;
}

form {
  width: 45vh;
  padding: 20px;
  height: 70vh;
  border-radius: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  margin-left: 75vh;
  gap: 20px;
}
form div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
form div label {
  font-weight: bold;
}
form div input {
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #e0e0e0;
}
form div select {
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  background-color: #e0e0e0;
}
form button {
  border-radius: 5px;
  padding: 8px 16px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  background-color: #123456;
  color: white;
}
form button a {
  color: white;
  text-decoration: none;
}
form span {
  font-weight: bold;
}
form span a {
  text-decoration: none;
  color: #123456;
}

#cabeza_foro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  gap: 20px;
}
#cabeza_foro #foro_cabecera {
  background-color: white;
  width: 100vh;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
#cabeza_foro .foro_mensaje {
  background-color: white;
  width: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  border-radius: 5px;
  flex-direction: column;
  padding: 20px;
  gap: 30px;
}
#cabeza_foro .foro_mensaje .cabeza {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}
#cabeza_foro .foro_mensaje .cabeza .info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#cabeza_foro .foro_mensaje .cabeza .info .imagen {
  width: 7vh;
  height: 7vh;
}
#cabeza_foro .foro_mensaje .cabeza .info .imagen img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
#cabeza_foro .foro_mensaje .cabeza .info h4 {
  font-size: 20px;
}
#cabeza_foro .foro_mensaje hr {
  width: 100%;
}/*# sourceMappingURL=style.css.map */